*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('/cursor.png') 18.5 18.5, auto;
}

html,
body
{
    overflow: hidden;
}

.experience
{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.programming {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    padding: 10px;
    z-index: 10;
    display: flex;
    align-items: center;
    transform: scale(0, 0);
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    transition: all 0.3s;
}

.programming.visible {
    opacity: 1;
    transform: scale(1, 1);
}

.programming .text {
    width: 150px;
    height: 50px;
    top: -50px;
    left: -75px;
    text-align: center;
    color: rgb(255, 255, 255);
    outline: lightblue solid 1px;
}

.projects {
    position: absolute;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
    z-index: -1;
}

.projects .container {
    display: block;
    overflow: scroll;
}

.projects .layout-grid {
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    justify-items: stretch;
    justify-content: stretch;
    gap: 30px;
    outline: lightcoral solid 1px;
}

.container .item {
    max-width: 500px;
    height: 200px;
    height: 1fr;
    background-color: rgb(34, 85, 129);
}

.projects.visible {
    visibility: visible;
    z-index: 20;
}

.info
{
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
    background-color: rgba(256, 256, 256, 0.1);
    padding: 10px;
    border-radius: 5px;
}

.info:hover {
    background-color: rgba(256, 256, 256, 0.3);
}

.info > a
{
    color: white;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
