* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: url('/cursor.png') 18.5 18.5, auto;
    line-height: 1.8;
}

html,
body {
    overflow: hidden;
    font-family: Rubik, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #d0d0d0;
    line-height: 30px;
    font-weight: 700;
    font-size: 20px;
}

p {
    color: #aeaeae;
    font-weight: 200;
    line-height: 20px;
}

footer {
    display: block;
    margin: 0 auto;
    max-width: 820px;
    width: 90%;
    text-align: center;
    padding: 2rem;
    padding-top: 1rem;
}

.contact {
    display: flex;
    margin: 15px;
    justify-content: center;
}

.wechat-button {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 6px;
    background-color: transparent;
    background-image: url(/imgs/WeChat-hover.png);
    background-position: 1px 0px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    transition: all 300ms ease;
}

.wechat-button:hover {
    background-color: rgb(45, 193, 0);
}

.linkedin-button {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 6px;
    background-color: transparent;
    background-image: url(/imgs/Linkedin-hover.png);
    background-position: 50% 50%;
    background-size: 30px;
    background-repeat: no-repeat;
    transition: all 300ms ease;
}

.linkedin-button:hover {
    background-color: #0077b4;
}

.github-button {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 6px;
    background-color: transparent;
    background-image: url(/imgs/Github-hover.png);
    background-position: 49% 50%;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    transition: all 300ms ease;
}

.github-button:hover {
    background-color: #fe6637;
}

footer span {
    color: rgb(163, 163, 163);
    font-size: 0.92rem;
    margin: auto;
}

.img {
    max-width: 100%;
    margin: 0;
}

.experience {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.programming,
.architecture {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 9;
}

.programming.visible,
.architecture.visible {
    opacity: 1;
    visibility: visible;
}

.text {
    top: -50%;
    left: -50%;
    text-align: center;
    color: rgb(255, 255, 255);
    user-select: none;
}

.projects,
.prev-projects {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
    z-index: 999;
}

.header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 55rem;
    height: 10vh;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}

.header h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}

.container {
    margin: auto;
    max-width: 55rem;
}

.projects.visible,
.prev-projects.visible {
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(15px);
    transition: all 0.3s;
}

.layout-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

@media (max-width: 768px) {
    .layout-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-column-gap: 0;
    }

    .container {
        max-width: 90%;
    }

    .header {
      padding: 0 2rem;
    }
}

.card {
    border-radius: 6px;
    transition: box-shadow 280ms ease, transform 280ms ease,
        -webkit-transform 280ms ease;
    box-shadow: 0 1px 2px 0 #404040;
    display: inline-block;
    max-width: 500px;
    line-height: 0;
    text-decoration: none;
    overflow: hidden;
    background-color: #171717ca;
}

.card:hover {
    box-shadow: 0 10px 25px 2px rgba(88, 88, 88, 0.6), 0 1px 2px 0 #404040;
    transform: translateY(-3px);
}

.svg {
    max-width: 100%;
    height: 15rem;
    overflow: hidden;
    display: flex;
}

.icon {
    margin: auto;
}

.description {
    padding: 1rem;
    margin: 0;
    line-height: 40px;
}

button {
    background-color: transparent;
    border: 0;
}

.close-btn>button {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev-close-btn>button {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(94, 94, 94, 0.6);
}

.prev-close-btn:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(94, 94, 94, 0.6);
}

.logo {
    width: 3rem;
    height: 3rem;
}

.info {
    text-align: center;
    background-color: rgba(256, 256, 256, 0.1);
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    user-select: none;
}

.control {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-align: left;
    background-color: rgba(256, 256, 256, 0.1);
    padding: 10px;
    border-radius: 5px;
    user-select: none;
}

.info-wrapper {
    display: flex;
    position: fixed;
    width: 8rem;
    bottom: 20px;
    right: 20px;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
    justify-content: stretch;
}

.info:hover {
    background-color: rgba(256, 256, 256, 0.3);
}

.info > a {
    color: white;
    text-decoration: none;
}