* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: url('/cursor.png') 18.5 18.5, auto;
    line-height: 1.8;
}

html,
body {
    overflow: hidden;
    font-family: Rubik, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #d0d0d0;
    line-height: 30px;
    font-weight: 700;
    font-size: 20px;
}

p {
    color: #aeaeae;
    font-weight: 200;
    line-height: 20px;
}

.experience {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.programming,
.architecture {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    transition: all 0.5s;
}

.programming.visible,
.architecture.visible {
    opacity: 1;
    z-index: 8;
}

.text {
    top: -50%;
    left: -50%;
    text-align: center;
    color: rgb(255, 255, 255);
    user-select: none;
}

.projects,
.prev-projects {
    position: absolute;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
}

.header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65vw;
    height: 10vh;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}

.header h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}

.container {
    margin: auto;
    max-width: 65vw;
    margin-bottom: 100px;
}

.projects.visible,
.prev-projects.visible {
    opacity: 1;
    z-index: 999;
    backdrop-filter: blur(15px);
    transition: all 0.3s;
}

.layout-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    justify-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.card {
    border-radius: 6px;
    transition: box-shadow 320ms ease, transform 300ms ease,
        -webkit-transform 300ms ease;
    box-shadow: 0 1px 2px 0 #404040;
    text-decoration: none;
    overflow: hidden;
    background-color: #171717ca;
}

.card:hover {
    box-shadow: 0 9px 18px 0 rgba(88, 88, 88, 0.6), 0 1px 2px 0 #212121;
    transform: translateY(-2px);
}

.svg {
    max-width: 100%;
    height: 15rem;
    overflow: hidden;
    display: flex;
}

.icon {
    margin: auto;
}

.description {
    padding: 1rem;
    margin: 0;
    line-height: 40px;
}

button {
    background-color: transparent;
    border: 0;
}

.close-btn>button {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev-close-btn>button {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(94, 94, 94, 0.6);
}

.prev-close-btn:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(94, 94, 94, 0.6);
}

.logo {
    width: 3rem;
    height: 3rem;
}

.info {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
    background-color: rgba(256, 256, 256, 0.1);
    padding: 10px;
    border-radius: 5px;
}

.info:hover {
    background-color: rgba(256, 256, 256, 0.3);
}

.info>a {
    color: white;
    text-decoration: none;
}